.footer-sec {
  padding: 32px 39px;
  background-color: var(--red-500);
  @include phone-767 {
    padding: 24px 0;
  }
  .footer-sec__content {
    @include phone-767 {
      @include flex;
      @include flex_align(flex-start);
      @include flex_justify(space-between);
      flex-direction: row-reverse;
    }
    .footer-sec__content-list {
      @include flex;
      @include flex_justify(space-between);
      @include flex_align;
      @include phone-767 {
        .text-list {
          display: none;
        }
      }
    }
    .intro-list {
      @include auto_margin_top(24px);
      @include phone-767 {
        margin-top: 0;
      }
    }
  }
  .footer-sec__copyright {
    @include flex;
    @include flex_align;
    @include flex_justify(space-between);
    @include auto_margin_top(24px);
    padding-top: 32px;
    width: 100%;
    border-top: 1px solid var(--white);
   @include pad-1199{
      @include auto_margin_top(20px);
    }
    @include phone-767 {
      @include flex_align(flex-start);
      flex-direction: column;
      padding-top: 16px;
      .text-list {
        @include auto_margin_top(8px);
        flex-wrap: wrap;
        width: 100%;
        .text-list__item {
          @include auto_margin_top(8px);
          margin-left: 0;
          width: 100%;
        }
      }
    }
    .footer-sec__copyright-text {
      font-size: 1rem;
      color: var(--white);
      @include phone-767 {
        font-size: 0.875rem;
      }
    }
  }
}
