.header-sec {
  @include flex;
  @include flex_align;
  @include flex_justify(space-between);
  flex-wrap: wrap;
  padding: 30px 88px;
  background-color: var(--red-500);
  @media screen and (max-width: 1199px) {
    padding: 30px 39px;
  }
  @media screen and (max-width: 767px) {
    padding: 0;
  }
  .header-sec__logo-wrap {
    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 10px 0;
    }
  }
  .header-sec__logo {
    @include bg-img;
    display: block;
    width: 80px;
    height: 49px;
    background-image: url('../../assets/images/logo.png');
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    @media screen and (max-width: 767px) {
      margin: 0 auto;
      width: 48px;
      height: 29px;
    }
  }
}
