<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link
    rel="preconnect"
    href="https://fonts.googleapis.com"
  >
  <link
    rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin
  >
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Roboto:wght@400;500&display=swap"
    rel="stylesheet"
  >
  <link
  rel="stylesheet"
  href="./icomoon/style.css"
  >
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <section class="header-sec">
    <h1 class="header-sec__logo-wrap">
      <a
        href="./index.html"
        class="header-sec__logo"
      >Glasses</a>
    </h1>
    <ul class="text-list has-border">
      <li class="text-list__item"><a
          href="./product-op.html"
          class="text"
        >
          系列鏡框
        </a>
      </li>
      <li class="text-list__item"><a
          href="./locations.html"
          class="text"
        >
          門市據點
        </a>
      </li>
      <li class="text-list__item"><a
          href="#"
          class="text"
        >
          部落格
        </a>
      </li>
      <li class="text-list__item"><a
          href="#"
          class="text"
        >
          常見問題
        </a>
      </li>
    </ul>
  </section>

  <%- contents %>

  <section class="footer-sec">
    <div class="container">
      <div class="footer-sec__content">
        <div class="footer-sec__content-list">
          <ul class="text-list">
            <li class="text-list__item"><a
                href="./index.html"
                class="text-sm"
              >
                首頁
              </a></li>
            <li class="text-list__item"><a
                href="./product-op.html"
                class="text-sm"
              >
                系列鏡框
              </a></li>
            <li class="text-list__item"><a
                href="./locations.html"
                class="text-sm"
              >
                門市據點
              </a></li>
            <li class="text-list__item"><a
                href="#"
                class="text-sm"
              >
                部落格
              </a></li>
            <li class="text-list__item"><a
                href="#"
                class="text-sm"
              >
                常見問題
              </a></li>
          </ul>
          <ul class="icon-list">
            <li class="icon-list__item">
              <a href="#">
                <i class="icon-fb"></i>
              </a>
            </li>
            <li class="icon-list__item">
              <a href="#">
                <i class="icon-ig"></i>
              </a>
            </li>
            <li class="icon-list__item">
              <a href="#">
                <i class="icon-line"></i>
              </a>
            </li>
          </ul>
        </div>
        <ul class="intro-list">
          <li class="intro-list__item">
            <i class="icon-phone"></i>
            <a href="tel:0800-000-000">
              0800-000-000
            </a>
          </li>
          <li class="intro-list__item">
            <i class="icon-mail"></i>
            <a href="mailto:lasses@business.com">glasses@business.com</a>
          </li>
        </ul>
      </div>
      <div class="footer-sec__copyright">
        <p class="footer-sec__copyright-text">Copyright © 2020
          Glasses.All rights reserved.</p>
        <ul class="text-list">
          <li class="text-list__item text-xs"><a href="#">隱私權政策</a></li>
          <li class="text-list__item text-xs"><a href="#">服務條款</a></li>
        </ul>
      </div>
    </div>
  </section>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
