.multiple-main {
  margin: 0 auto;
  max-width: 1110px;
  min-height: 40vh;
  padding: 8px 40px 96px 40px;
  @include pad-1199 {
    padding: 8px 40px 96px 40px;
    max-width: 100%;
  }
  @include phone-767 {
    padding: 8px 15px 56px 15px;
  }
  .multiple-main__container {
    @include flex;
    flex-wrap: wrap;
    .multiple-main__left {
      width: 825px;
      @include pad-1199 {
        width: calc(100% - 209px);
      }
      @include phone-767 {
        order: 1;
        width: 100%;
      }
    }
    .multiple-main__right {
      @include auto_margin_left(30px);
      width: 255px;
      @include pad-1199 {
        flex: 0 0 149px;
        padding-right: 30px;
      }
      @include phone-767 {
        @include auto_margin_top(30px);
        flex: 0 0 100%;
        order: 3;
        margin-left: 0;
        padding-right: 0;
      }
    }
    .multiple-main__bottom {
      @include auto_margin_top(48px);
      width: 100%;
      @include pad-1199 {
        @include auto_margin_top(28px);
      }
      @include phone-767 {
        order: 2;
      }
    }
  }
}
.blog-title {
  font-size: 3rem;
  font-weight: 500;
  color: var(--black);
  @include pad-1199 {
    font-size: 2rem;
  }
  @include phone-767 {
    font-size: 1.25rem;
    font-weight: normal;
    color: var(--red-800);
  }
}
.blog-subtitle {
  @include auto_margin_top(8px);
  @include flex;
  @include flex_align;
  @include flex_justify(space-between);
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--black);
  @include pad-1199 {
    @include auto_margin_top(4px);
    font-size: 1rem;
  }
  @include phone-767 {
    margin-top: 0;
    font-size: 0.875rem;
  }
  .blog-subtitle__date {
    font-size: 1rem;
    color: var(--gray-350);
    @include pad-1199 {
      font-size: 0.875rem;
    }
  }
}
.blog-content {
  @include auto_margin_top(24px);
}
.blog-image {
  @include auto_margin_top(40px);
  width: 100%;
  @include pad-1199 {
    @include auto_margin_top(24px);
  }
}
.blog-text {
  @include auto_margin_top(24px);
  font-size: 1.25rem;
  opacity: 0.6;
  color: var(--gray-700);
  @include pad-1199 {
    @include auto_margin_top(16px);
    font-size: 1rem;
  }
}
.share-list {
  @include flex;
  @include flex_align;
  .share-list__title {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--black);
  }
  .share-list__icons {
    @include flex;
    @include flex_align;
    @include auto_margin_left(20px);
    @include pad-1199 {
      @include auto_margin_left(16px);
    }
    .share-list__icon {
      @include auto_margin_left(16px);
    }
    a {
      @include ts;
      font-size: 1.5rem;
      color: var(--black);
      &:hover {
        color: var(--light-brown);
      }
    }
  }
}
.switch-page-btns {
  @include flex;
  @include flex_align;
  @include flex_justify(space-between);
  @include auto_margin_top(20px);
  flex-wrap: wrap;
  padding-top: 24px;
  border-top: 1px solid var(--gray-550);
  @include pad-1199 {
    @include auto_margin_top(16px);
    padding-top: 20px;
  }
  @include phone-767 {
    @include auto_margin_top(16px);
    padding-top: 12px;
  }
  .switch-page-btns__btn {
    @include flex;
    @include flex_align;
    @include ts;
    font-size: 1.25rem;
    color: var(--black);
    &:hover {
      color: var(--light-brown);
    }
    &.right-icon {
      @include phone-767 {
        flex-direction: row-reverse;
        .right {
          margin-left: 0;
        }
      }
    }
    @include pad-1199 {
      font-size: 1rem;
    }
    @include phone-767 {
      @include auto_margin_top(8px);
    }
    i {
      font-size: 1.5rem;
      &.left {
        @include auto_margin_right(8px);
        transform: rotate(180deg);
      }
      &.right {
        @include auto_margin_left(8px);
      }
    }
  }
}
