.icon-list {
  @include flex;
  @include flex_align;
  &.black-icon {
    .icon-list__item {
      a {
        color: var(--black);
      }
    }
  }
  .icon-list__item {
    @include auto_margin_left(32px);
    @include pad-1199 {
      @include auto_margin_left(24px);
    }
    @include phone-374 {
      @include auto_margin_left(10px);
    }
    a {
      @include ts;
      display: block;
      color: var(--white);
      &:hover {
        color: var(--gray-300);
      }
      i {
        font-size: 3rem;
        @include pad-1199 {
          font-size: 1.5rem;
        }
      }
    }
  }
}
.text-list {
  @include flex;
  @include flex_align;
  &.has-border {
    @include phone-767 {
      flex-wrap: wrap;
      width: 100%;
      .text-list__item {
        @include auto_margin_left(0px);
        width: 50%;
        border: 1px solid var(--white);
        box-sizing: border-box;
        a {
          margin: 0 auto;
          padding: 8px;
          text-align: center;
          &:hover {
            color: var(--red-500);
            background-color: var(--white);
          }
        }
      }
    }
  }
  .text-list__item {
    @include auto_margin_left(64px);
    @include pad-1199 {
      @include auto_margin_left(40px);
    }
    a {
      display: block;
      font-size: 1.25rem;
      color: var(--white);
      &:hover {
        @include ts(0.3);
        color: var(--gray-300);
      }
    }
  }
}
.intro-list {
  .intro-list__item {
    @include flex;
    @include flex_align;
    @include auto_margin_top(16px);
    font-size: 2.25rem;
    @include pad-1199 {
      @include auto_margin_top(12px);
      font-size: 1.25rem;
    }
    @include pad-1199 {
      @include auto_margin_top(6px);
      font-size: 1rem;
    }
    i {
      color: var(--white);
    }
    a {
      @include ts;
      @include auto_margin_left(20px);
      color: var(--white);
      &:hover {
        color: var(--gray-300);
      }
      @include phone-767 {
        @include auto_margin_left(6px);
      }
    }
  }
}
.switch-tabs {
  @include flex;
  @include flex_justify;
  .switch-tabs__tab {
    @include ts(0.3s);
    @include flex_center;
    position: relative;
    width: 370px;
    height: 96px;
    border: 1px solid var(--gray);
    box-sizing: border-box;
    color: var(--gray-900);
    &:after {
      position: absolute;
      z-index: 2;
      content: '';
      display: block;
      bottom: 0;
      left: 0;
      width: 0;
      height: 8px;
      background-color: var(--red-500);
    }
    &:hover {
      color: var(--red-500);
      &:after {
        @include ts(0.3s);
        width: 100%;
      }
    }
    &.active {
      &:after {
        width: 100%;
      }
    }
    @include pad-1199 {
      width: 230px;
      height: 60px;
    }
    @include phone-767 {
      width: 115px;
      height: 30px;
      &:after {
        height: 4px;
      }
    }
    .switch-tabs__tab-icon {
      font-size: 2.75rem;
      @include pad-1199 {
        font-size: 2rem;
      }
      @include phone-767 {
        font-size: 1rem;
      }
    }
  }
  .switch-tabs__tab-text {
    @include auto_margin_left(10px);
    font-size: 2rem;
    font-weight: 500;
    @include pad-1199 {
      font-size: 1.5rem;
      line-height: 1.33;
    }
    @include phone-767 {
      @include auto_margin_left(2px);
      font-size: 0.875rem;
      line-height: 1;
    }
  }
}
.multiple-banners {
  @include flex;
  .multiple-banners__img {
    @include bg-img;
    width: 50%;
    height: 304px;
    @include phone-767 {
      height: 148px;
    }
  }
}
.product-list {
  @include flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  @include phone-767 {
    @include auto_margin_top(20px);
    margin-left: 0px;
    margin-right: 0px;
  }
  &.three-items {
    .product-list__item {
      width: calc((100% - 90px) / 3);
      @include pad-1199 {
        width: calc((100% - 60px) / 2);
      }
      @include phone-767 {
        width: 100%;
      }
    }
  }
  .product-list__item {
    margin: 0 15px;
    padding: 40px 0 60px 0;
    width: calc((100% - 120px) / 4);
    @include pad-1199 {
      padding: 32px 0 40px 0;
      width: calc((100% - 60px) / 2);
    }
    @include phone-767 {
      width: 100%;
      margin: 0;
      padding: 0 0 32px 0;
    }
    .product-list__item-img {
      width: 100%;
    }
    .product-list__item-intro {
      @include flex;
      @include flex_align;
      font-size: 1.5rem;
      color: var(--gray-900);
      @include pad-1199 {
        line-height: 1.25;
      }
      @include phone-767 {
        font-size: 1rem;
        line-height: 1.875rem;
      }
      .price {
        display: block;
        margin-left: auto;
        font-weight: 500;
        color: var(--red-500);
      }
    }
    .product-list__item-colors {
      @include flex;
      .product-list__item-color {
        @include auto_margin_left(8px);
        width: 24px;
        height: 24px;
        border-radius: 4px;
        &.brown {
          background-color: var(--brown);
        }
        &.light-brown {
          background-color: var(--light-brown);
        }
      }
    }
  }
}
.paginate-wrap {
  @include auto_margin_top(36px);
  &.mt-lg-24 {
    @include auto_margin_top(96px);
  }
  &.mt-xs-10 {
    @include phone-767 {
      @include auto_margin_top(40px);
    }
  }
  .paginate {
    @include flex;
    @include flex_justify(center);
    li {
      border: 1px solid var(--gray-500);
      border-left: none;
      &:first-child {
        border-left: 1px solid var(--gray-500);
      }
      @include phone-767 {
        width: 100%;
      }
    }
    .paginate__item {
      padding: 12px 16px;
      font-size: 1.125rem;
      text-align: center;
      color: var(--gray-500);
      &:hover {
        background-color: var(--gray-100);
      }
      &.active {
        color: var(--white);
        background-color: var(--black);
      }
      &.ctrl-btn {
        white-space: nowrap;
      }
      @include phone-767 {
        padding: 10px 12px;
        font-size: 1rem;
      }
    }
  }
}
.page__title {
  text-align: center;
  h2 {
    font-size: 2rem;
    font-weight: 500;
    @include phone-767 {
      font-size: 1.25rem;
      line-height: 1.3;
    }
  }
  h3 {
    font-size: 1.5rem;
    @include phone-767 {
      font-size: 1rem;
    }
  }
}
.title-with-border {
  @include flex;
  font-size: 3rem;
  line-height: 1.45;
  font-weight: bold;
  color: var(--black);
  @include phone-767 {
    font-size: 1.75rem;
    line-height: 1.42;
  }
  &::before {
    @include auto_margin_right(12px);
    content: '';
    display: block;
    width: 8px;
    background-color: var(--red-700);
    @include pad-1199 {
      @include auto_margin_right(14px);
      width: 4px;
    }
  }
}
.select-dropdown-button {
  @include flex;
  @include flex_align;
  @include auto_margin_top(60px);
  @include pad-1199 {
    @include auto_margin_top(40px);
  }
  @include phone-767 {
    @include auto_margin_top(24px);
  }
  .select-dropdown-button__label {
    font-size: 1.5rem;
    line-height: 1.25;
    white-space: nowrap;
    color: var(--black);
    @include pad-1199 {
      font-size: 1rem;
      line-height: 1.875;
    }
  }
  .select-dropdown-button__content {
    @include auto_margin_left(20px);
    padding: 8px 13px 8px 19px;
    width: 324px;
    height: 45px;
    box-sizing: border-box;
    border: 1px solid var(--gray-300);
    cursor: pointer;
    @include pad-1199 {
      width: 237px;
    }
    @include phone-767 {
      width: 100%;
    }
    select {
      width: 100%;
      height: 100%;
      font-size: 1.125rem;
      line-height: 1.44;
      border: none;
      color: var(--gray-400);
      &:focus {
        outline: 0;
      }
      @include pad-1199 {
        font-size: 1rem;
      }
    }
  }
}
.img-card-list {
  @include auto_margin_top(16px);
  @include flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -16px;
  @include pad-1199 {
    @include auto_margin_top(14px);
    margin-bottom: -10px;
  }
  @include phone-767 {
    @include auto_margin_top(12px);
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: -8px;
  }
  .img-card {
    margin: 16px 15px;
    width: calc((100% - 90px) / 3);
    @include pad-1199 {
      margin: 10px 15px;
      width: calc((100% - 60px) / 2);
    }
    @include phone-767 {
      margin: 8px;
      width: 100%;
    }
  }
}
.img-card {
  &.row-sm {
    @include pad-1199 {
      @include flex;
      @include flex_align;
      .img-card__img {
        width: calc((100% - 30px) / 2);
      }
      .img-card__content {
        @include auto_margin_left(30px);
        width: calc((100% - 30px) / 2);
      }
    }
  }
  &.column-xs {
    @include phone-767 {
      display: block;
      .img-card__img {
        width: 100%;
      }
      .img-card__content {
        margin-left: 0;
        width: 100%;
      }
    }
  }
  .img-card__img {
    @include bg-img;
    width: 100%;
    height: 224px;
    @include pad-1199 {
      height: 164px;
    }
  }
  .img-card__title {
    padding: 12px 24px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--gray-600);
    border: 1px solid #00000020;
    @include pad-1199 {
      padding: 8px 24px;
      font-size: 1rem;
    }
  }
}
.button {
  padding: 20px;
  font-size: 1.25rem;
  line-height: 1.4;
  text-align: center;
  color: var(--white);
  background-color: var(--black);
  @include pad-1199 {
    font-size: 0.875rem;
    line-height: 1.5;
  }
}
.content-list {
  padding: 16px 24px;
  border: 1px solid #00000020;
  font-size: 1.25rem;
  @include pad-1199 {
    padding: 16px 24px;
  }
  .content-list__item {
    @include flex;
    @include auto_margin_top(8px);
    .content-list__item-text {
      @include auto_margin_left(10px);
      position: relative;
      padding-left: 35px;
      font-size: 1.25rem;
      color: var(--gray-600);
      @include pad-1199 {
        padding-left: 25px;
        font-size: 0.875rem;
      }
      &::before {
        content: '';
        position: absolute;
        left: 0;
        padding-right: 5px;
        font-family: 'icomoon';
        font-size: 1.25rem;
        color: var(--gray-600);
        @include pad-1199 {
          font-size: 0.875rem;
        }
      }
      &.phone {
        &::before {
          content: '\e911';
        }
      }
      &.time {
        &::before {
          content: '\e901';
        }
      }
      &.locale {
        &::before {
          content: '\e90c';
        }
      }
    }
  }
}
.shop-location {
  @include flex;
  @include auto_margin_top(32px);
  @include pad-1199 {
    flex-direction: column;
  }
  .img-card {
    min-width: 445px;
    @include phone-767 {
      min-width: 100%;
    }
  }
  .shop-location__map {
    @include auto_margin_left(30px);
    width: 100%;
    @include pad-1199 {
      @include auto_margin_top(32px);
      margin-left: 0;
      min-height: 422px;
    }
    @include phone-767 {
      @include auto_margin_top(16px);
      min-height: 211px;
    }
  }
}
.question-list {
  @include auto_margin_top(36px);
  @include pad-1199 {
    @include auto_margin_top(32px);
  }
  @include phone-767 {
    @include auto_margin_top(24px);
  }
  .question-list__item {
    @include auto_margin_top(32px);
    @include phone-767 {
      @include auto_margin_top(20px);
    }
    .question-list__item-title {
      font-size: 1.25rem;
      line-height: 1.2;
      font-weight: bold;
    }
    .question-list__item-content {
      @include auto_margin_top(16px);
      padding-left: 95px;
      font-size: 1rem;
      @include pad-1199 {
        padding-left: 59px;
      }
      @include phone-767 {
        @include auto_margin_top(8px);
        padding-left: 0;
      }
    }
  }
}
.subtitle {
  @include auto_margin_top(40px);
  font-size: 2rem;
  line-height: 2;
  font-weight: bold;
  @include phone-767 {
    @include auto_margin_top(24px);
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: normal;
  }
}
.blog-list {
  @include auto_margin_top(60px);
  @include phone-767 {
    @include auto_margin_top(28px);
  }
  .blog-list__item {
    @include flex;
    @include auto_margin_top(60px);
    @include pad-1199 {
      @include auto_margin_top(24px);
    }
    @include phone-767 {
      @include auto_margin_top(20px);
      display: block;
      .text-button {
        display: none;
      }
    }
    .blog-list__item-img {
      @include bg-img;
      width: 635px;
      height: 400px;
      @include pad-1199 {
        width: 330px;
        height: 208px;
      }
      @include phone-767 {
        width: 100%;
        height: 217px;
      }
    }
    .blog-list__item-content {
      @include auto_margin_left(30px);
      @include flex;
      @include flex_justify(space-between);
      flex-direction: column;
      @include pad-1199 {
        position: relative;
      }
      @include phone-767 {
        @include auto_margin_top(8px);
        margin-left: 0;
      }
      .blog-list__item-title {
        font-size: 2rem;
        line-height: 1.4;
        color: var(--red-800);
        @include pad-1199 {
          font-size: 1.25rem;
          line-height: 1.5;
        }
        @include phone-767 {
          font-size: 1rem;
        }
      }
      .blog-list__item-subtitle {
        @include auto_margin_top(2px);
        @include flex;
        @include flex_align;
        @include flex_justify(space-between);
        font-size: 1.25rem;
        line-height: 1.3;
        font-weight: 500;
        vertical-align: middle;
        color: var(--black);
        @include pad-1199 {
          font-size: 1rem;
        }
        @include phone-767 {
          margin-top: 0;
          font-size: 0.875rem;
        }
        .date {
          display: block;
          font-size: 1rem;
          @include pad-1199 {
            font-size: 0.875rem;
          }
        }
      }
      .blog-list__item-text {
        @include auto_margin_top(24px);
        font-size: 1.25rem;
        color: var(--gray-500);
        display: -webkit-box;
        -webkit-line-clamp: 8;
        -webkit-box-orient: vertical;
        overflow: hidden;
        @include pad-1199 {
          @include auto_margin_top(32px);
          -webkit-line-clamp: 6;
          font-size: 0.875rem;
        }
        @include phone-767 {
          display: none;
        }
      }
      .text-button {
        @include pad-1199 {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
}
.text-button {
  @include ts(0.3s);
  margin-top: auto;
  font-size: 2.25rem;
  font-weight: bold;
  text-align: right;
  color: var(--red-800);
  &:hover {
    color: var(--light-brown);
  }
  &.pad-gray {
    font-size: 0.875rem;
    color: var(--gray-500);
  }
}
.search-bar {
  padding: 12px;
  background-color: var(--red-800);
  @include pad-1199 {
    padding: 16px 40px;
  }
  @include phone-767 {
    padding: 16px 15px;
  }
  .search-bar__container {
    @include flex;
    @include flex_align;
    @include flex_justify(space-between);
    margin: 0 auto;
    width: 1110px;
    @include pad-1199 {
      width: 100%;
    }
    @include phone-767 {
      .search-input {
        display: none;
      }
    }
    .search-bar__list {
      @include flex;
      @include flex_align;
      @include phone-767 {
        @include flex_justify(space-between);
        width: 100%;
      }
      .search-bar__list-item {
        @include auto_margin_left(48px);
        @include pad-1199 {
          @include auto_margin_left(32px);
        }
        @include phone-767 {
          margin-left: 0;
        }
        a {
          position: relative;
          font-size: 1.25rem;
          line-height: 1.2;
          font-weight: bold;
          color: var(--white);
          @include pad-1199 {
            font-size: 1rem;
            line-height: 1.5;
          }
          &::after {
            @include ts;
            position: absolute;
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background-color: var(--white);
          }
          &:hover {
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.search-input {
  @include flex;
  @include flex_align;
  &:hover {
    .search-input__input {
      @include auto_margin_left(10px);
      visibility: visible;
      width: 200px;
    }
  }
  .search-input__icon {
    font-size: 1.875rem;
    color: var(--white);
    cursor: pointer;
  }
  .search-input__input {
    @include ts;
    height: 25px;
    visibility: hidden;
    width: 0;
  }
}
.breadcrumbs {
  display: inline-flex;
  .breadcrumbs__item {
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    color: var(--black);
    &.current {
      color: var(--red-500);
    }
  }
  .breadcrumbs__divider {
    padding: 0 5px;
  }
}
.tag-title {
  @include flex_align;
  display: inline-flex;
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--red-500);
  @include pad-1199 {
    font-size: 1.25rem;
    line-height: 1.3;
  }
  .tag-title__icon {
    margin-right: 8px;
    font-size: 3rem;
    @include pad-1199 {
      font-size: 1.5rem;
    }
  }
}
.tag-list {
  @include flex;
  @include flex_align;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  @include pad-1199 {
    margin-left: -8px;
    margin-right: -8px;
  }
  @include phone-767 {
    margin-left: -4px;
    margin-right: -4px;
  }
  &.item-ml-2 {
    margin-left: -8px;
    margin-right: -8px;
    li {
      margin: 0 8px;
    }
    @include phone-767 {
      margin-left: -2px;
      margin-right: -2px;
      li {
        margin: 0 2px;
      }
    }
  }
  &.fixed {
    position: sticky;
  }
  li {
    margin: 0 12px;
    @include pad-1199 {
      margin: 0 8px;
    }
    @include phone-767 {
      margin: 0 4px;
    }
  }
  .tag-list__item {
    @include ts;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--red-500);
    &:hover {
      color: var(--light-brown);
    }
    @include pad-1199 {
      font-size: 1rem;
      line-height: 1.25;
    }
  }
}
